.partners-ul{
    width: 65%;
    margin: 2em auto;
}

.partners-ul--gold {
    background-color: gold;
}
.partners-ul--silver {
    background-color: silver;
}

.partners-ul--platinium {
    background-color: paleturquoise;
}

.partners-ul--bronze {
    background-color: brown;
}