@import '../../assets/styles/variables.scss';

.ambassadors-ul{
    padding: 0;
}

.ambassador-ulC{
    display: flex;
    text-align: left;
    align-items: center;
}

.level-name{
    font-size: 24px;
    text-align: left;
    position: absolute;
    top: 0;
    margin: 0;
    transform: translate(-20px, -60%);
    background-color: white;
    padding: 0 20px;
}

.ambassador-ulC{
    padding: 0 65px;
}

.ambassador-div {
    position: relative;
    border: 2px solid $border-color;
    margin-bottom: 70px;
}

.ambassador-li__container__img{
    width: 160px;
    min-width: 160px;
    height:160px ;
}

.ambassador-li__container__img img{
    vertical-align: middle;
    max-width: 160px;
}

.members-info{
    margin: 0;
    font-size: 20px;
    padding: 5px 0;
}

.helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.level-name-amba{
    transform: translate(49px, -62%);
}

.text-ambassador{
    text-align: left;  
    padding: 0 65px; 
}

.text-ambassador a{
    text-align: right;
    display: block;
    color: $border-color;
    text-decoration: none;
}

.ambassadors-ul-li {
    list-style: none;
    padding-bottom: 1em;
    padding-top: 1em;
}

.ambassador-infoList {
    padding-left: 20px;
}

@media screen and (max-width: 515px){
    .ambassadors-ul{
        margin: 0 10px;
    }
    .ambassador-ulC{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
