.partners-li{
    list-style: none;
}
.partners-li__container__img{
    
}

.partners-li__container{
    display: flex;
    text-align: left;
    align-items: center;
}

.partners-li_container_text{
    padding: 2em;
}