@import './variable';

.title-h1{
    font-family: $title-font;
    font-size: 4.938em;
    color: #fff;
}


.title-h2{
    font-family: $title-font;
    font-size: 1.5em;
    color: #222222;
        &--light{
            font-family: $title-font;
            font-size: 1.5em;
            color: #EAEAEA;
        }
}

.node{
    &:after{
        content: url(../images/bow.svg);
        width: 40px;
    }
}

p{
    font-family: $body-font;
    font-size: 0.875em;
}

a{
    font-family: $title-font;
}

@font-face{
    @font-face {
        font-family: 'Noteworthy Light';
        font-style: normal;
        font-weight: normal;
        src: local('Noteworthy Light'), url(../fonts/Noteworthy-Lt.woff) format('woff');
        }
}

$quote-font: 'Noteworthy Light';