
.title-h1{
    font-family: 'Bree Serif', serif;
    font-size: 4.938em;
    color: #fff;
}


.title-h2{
    font-family: 'Bree Serif', serif;
    font-size: 1.5em;
    color: #222222;
        &--white{
            font-family: 'Bree Serif', serif;
            font-size: 1.5em;
            color: #EAEAEA;
        }
}

.node{
    &:after{
        content: url(../images/bow.svg);
        width: 40px;
    }
}

p{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 0.875em;
}

a{
    font-family: 'Bree Serif', serif;
}