@import 'variables';

.title-h1{
    text-transform: uppercase;
    font-family: $title-font;
    font-size: 4.938em;
    color: #fff;
}


.title-h2{
    text-transform: uppercase;
    font-family: $title-font;
    font-size: 1.5em;
    color: #222222;
        &--light{
            font-family: $title-font;
            font-size: 1.5em;
            color: #EAEAEA;
        }
}

p{
    font-family: $body-font;
    font-size: 0.875em;
}

a{
    font-family: $title-font;
}

$quote-font: 'Noteworthy Light';