@import url(//db.onlinewebfonts.com/c/016f50054d487d421dc18257a191a3ad?family=Noteworthy);


@font-face {font-family: "Noteworthy";
    src: url("//db.onlinewebfonts.com/t/016f50054d487d421dc18257a191a3ad.eot");
    src: url("//db.onlinewebfonts.com/t/016f50054d487d421dc18257a191a3ad.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/016f50054d487d421dc18257a191a3ad.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/016f50054d487d421dc18257a191a3ad.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/016f50054d487d421dc18257a191a3ad.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/016f50054d487d421dc18257a191a3ad.svg#Noteworthy") format("svg");
}

$main-color: #211E1D;
$main-color--light: #AA723B;
$border-color: #DBC4A2;
$white: #fff;

$title-font: 'Bree Serif', serif;
$body-font: 'Montserrat Alternates', sans-serif;
$name-font: 'Noteworthy', sans-serif;