/* Base */

@import '../../assets/styles/variables.scss';

.navbar-container {
    position: absolute;
    bottom: 30%;
    left: 50%;
    z-index: 1;
  }
  .nav-active {
    color: red;
  }
  .navbar {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $main-color;
    color: #fff;
    width: 920px;
    background-color: transparent;
    border: solid 2px $border-color;
  }
  .navbar--fixed {
    position: fixed;
    top: 0;
    transform: translate(-50%, 0);
    width: 100%;
    background-color: $main-color;
    border: none;
    line-height: 80px;
    box-shadow: 0px 6px 10px 0px rgba(33,30,29,0.17);
  }
  .navbar__list {
    list-style: none;
    display: flex;
    border-top: solid 1px $border-color;
    justify-content: center;
    margin: 0;
    box-sizing: border-box;
    padding-left: 0;
  }
  .navbar__list__item {
    text-decoration: none;
    padding: 0 20px;
    & a{
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;
      font-family: $title-font;
      line-height: 54px;
    }
  }

  .navbar__list__item:nth-child(1){
    padding-left: 0;
  }
  .logo-nav{
    width: 100px;
    height: 80px;
    max-height: 80px;
  }
  .navbar img{
    display: none;
  }
  .navbar div{
    display: none;
  }

  .logo-nav img{
    display: none;
  }

  .logo-nav-visi img{
    display: block;
  }

  .logo-nav-visi div{
    display: block;
  }
  .login-button {
    position: fixed;
    top: 20px;
    right: 5%;
  }

  .icon{
    display: none;
    position: fixed;
    top: 30px;
    right: 50px;
    z-index: 3;
    color: $border-color;
    }

  @media screen and (max-width: 926px){
    .icon{
      display: block;
      }
    .logo-nav{
      display: none!important;
    }
    .navbar {
      display: none;
      position: relative;
      top:0;
      left: 0;
        width: 100%;
        height:100%;
        min-height: 500px;
        position: fixed;
        background-color: black;
        transform: scale(.95);
        transition: all 280ms ease-in-out;
        z-index: 9 !important;
        overflow: scroll;
    }
    .responsive nav {
        display: block!important;
    }
    .navbar__list {
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      padding-left:0px;
      list-style: none;
      overflow: scroll;
    }
    .navbar__list__item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding:30px 0;
      }
  }
