/* Base */
.navbar-container {

  }
  .nav-active {
    color: red;
  }
  .navbar {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    background-color: #211E1D;
    color: #fff;
    width: 100%;
    text-align: center;
  }
  .navbar--fixed {
    position: fixed;
    top: 0;
    transform: translate(-50%, 0);
    width: 100%;
  }
  .navbar__list {
    list-style: none;
    padding: 1em;
    display: flex;
    border: solid 1px #000;
    justify-content: center;
    margin: 0;
  }
  .navbar__list__item {
    text-decoration: none;
    padding: 0 20px;
    & a{
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;
    }
  }

  .login-button {
    position: fixed;
    top: 20px;
    right: 5%;
  }