/* Base */

@import '../../assets/styles/variables.scss';

.navbar-container {
    position: absolute;
    bottom: 30%;
    left: 51%;
    z-index: 1;
  }
  .nav-active {
    color: red;
  }
  .navbar {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $main-color;
    color: #fff;
    width: 100%;
  }
  .navbar--fixed {
    position: fixed;
    top: 0;
    transform: translate(-50%, 0);
    width: 100%;
  }
  .navbar__list {
    list-style: none;
    display: flex;
    border-top: solid 1px $border-color;
    justify-content: center;
    margin: 0;
    box-sizing: border-box;
  }
  .navbar__list__item {
    text-decoration: none;
    padding: 0 20px;
    & a{
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;
      font-family: $title-font;
      line-height: 80px;
    }
  }

  .login-button {
    position: fixed;
    top: 20px;
    right: 5%;
  }