@font-face {
    font-family: Bree Serif, Regular;
    src: url("https://fonts.googleapis.com/css?family=Open+Sans");
}
@font-face {
    font-family: Montserrat Alternates, Medium;
    src: url("https://fonts.googleapis.com/css?family=Montserrat+Alternates")
}

#ambassadors-h1{
    font-family: "Bree Serif";
}