.partners__intro{
    text-align: center;
    width: 71.17117117117117%; 
    margin: 0 auto;
    padding: 100px 0;
}

.partners__intro p{
    color: #999999;
    line-height: 1.4;
}

.ambassador--text{
    padding-top: 3em;
}

.ambassador--title{
    padding-top: 3em;
}
