@import "./assets/styles/variables.scss";
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.par {
  width: 49.27927927927928%;
  padding-left: 3em;
  text-align: left;
}

.section--pres{
  padding-top: calc(4em + 80px);
  padding-bottom: 4em;
}
.bowtie {
  display: flex;
  justify-content: center;
  height: 35px;
}
.pic {
  min-width: 300px;
}
.pic img {
  width: 100%;
}


.pic--nous{
  padding: 20px;
  color: red;
}
.contenant {
  padding-top: 1.5em;
  display: flex;
  align-items: center;
}
.corner {
  border: 10px solid transparent;
  position: relative;
  &:before,
  &:after {
    content: "";
    width: 65px;
    height: 65px;
    border: solid 1.5px #dbc4a2;
    position: absolute;
  }
  &:before {
    border-bottom: transparent;
    border-right: transparent;
    top: -10px;
    left: -10px;
    margin-right: 10px;
  }
  &--right:after {
    border-top: transparent;
    border-left: transparent;
    bottom: -10px;
    right: -10px;
    margin-left: 10px;
  }
}
.link-host{
  display: flex;
}
.link {
  text-align: right;
  padding: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  display: block;
}
.link a {
  text-decoration: none;
  color: $border-color;
}
.precedent{
  padding : 30px;
  width: 50%;
}
.precedent a{
  color: $border-color;
  text-decoration: none; 
}
@media screen and (max-width: 800px) {
  .contenant {
    display: flex;
    flex-direction: column;
  }

  .par{
    width: 90%;
    margin-top: 1.5em;
    padding: 0;
  }
}
